/* Select by tagname */
h1 {
  color: red;
}

/* Select by classname */
.header-alt {
  border-bottom: 2px solid red;
}

/* Select a single element by its ID */
#header-primary {
  text-transform: uppercase;
}

/* Select all H1s AND all .header-alts */
h1,
.header-alt {
  border-top: 2px solid blue;
}

/* Use descendent selectors */
div p {
  font-style: italic;
}

/* Target all p's and a's inside of divs */
div p, div a {}


.swag {
	color: green;
	text-align: center;
	text-indent: 15px;
	border-top: 7px solid orange;
	border-bottom: 7px solid yellow;

}

.bang {
	color: green;
	text-align: center;
	text-indent: 15px;
	border-top: 7px solid orange;
	border-bottom: 7px solid yellow;

}

.beat {
	color: red;
	text-align: center;
	text-indent: 20px;
	border-top: 10px solid orange;
	border-bottom: 12px solid yellow;
	font-size: 40px;
}

img {
	height: 450x;
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	height: 450px;
	width: 450px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: #B2EBF2;
}